# config
config/
!config/ntu60_xsub_55_5split/joint_shiftgcn_ViTL14@336px_match.yaml
!config/pkuv1_xsub_46_5split/joint_shiftgcn_ViTL14@336px_match.yaml
# data
data/nturgbd_raw/
data/pkummd_raw/
data/ntu60/denoised_data/
data/ntu60/raw_data/
data/ntu60/statistics/
data/ntu60/*.npz
data/ntu120/denoised_data/
data/ntu120/raw_data/
data/ntu120/statistics/
data/ntu120/*.npz
data/pkummd/part1/xsub/
data/pkummd/part1/xview/
data/pkummd/part1/*.npz
data/pkummd/part2/xsub/
data/pkummd/part2/xview/
data/pkummd/part2/*.npz
# feature folder
feature_folder/
# model
model/dpn.py
model/shiftgcn_match_ntu_as.py
# shiftgcn
Pretrain_Shift_GCN/config
!Pretrain_Shift_GCN/config/ntu60_xsub_seen55_unseen5.yaml
!Pretrain_Shift_GCN/config/pkuv1_xsub_seen46_unseen5.yaml
Pretrain_Shift_GCN/save_models/
Pretrain_Shift_GCN/visualization/
Pretrain_Shift_GCN/work_dir/
Pretrain_Shift_GCN/*.pt
Pretrain_Shift_GCN/main_disentangle.py
Pretrain_Shift_GCN/main_feature_store.py
# semantics
semantics/
!semantics/ntu/spatial/*.json
!semantics/ntu/temporal/*.json
!semantics/pku/spatial/*.json
!semantics/pku/temporal/*.json
# others
visualization/
weights/
work_dir/
main_ntu_match_as.py
main_ntu_match_feature.py




